html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : white;
    color: black;
}

.header{
    display:block;
    background-color: white;
    padding: 1.25rem 2rem;
    gap: 1.25rem;
    box-shadow: 0 2px 8px rgb(206, 203, 203);
    text-align: center;
}

.game-area{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    width: 30rem;
    height: 30rem;
}

#board .cell{
    display: grid;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
}

#board:not(.no-hover) .cell:hover{
    cursor: pointer;
}

#board.no-hover{
    background-color: white;
}

#game-info{
    display: flex;
    justify-content: center;
    align-items: center;
}