html, body{
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : #96A096;
    color: black;
}

.header{
    display:block;
    background-color: #738278;
    padding: 1.25rem 2rem;
    gap: 1.25rem;
    text-align: center;
}

#resetBtn, #start-game {
    padding: 4px;
    margin: 4px;
    border-radius: 0;
}

form button {
    margin-top: 2em;
    border-radius: 0;
    padding: 4px;
}

dialog {
    background-color: #96A096;
    border-color: black;

}

.game-area{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#board{
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    width: 30rem;
    height: 30rem;
}

#board .cell{
    display: grid;
    border-style: solid;
    border-color: black;
    background-color: #738278;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 3em;
    background-color: #738278;
}

#board:not(.no-hover) .cell:hover{
    cursor: pointer;
}

#board.no-hover{
    background-color: #738278;
}

#game-info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}