html, body{
    height: 100vh;
    width: 100vw;
}

body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color : white;
    color: black;
}

#board{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    width: 30rem;
    height: 30rem;
}

#board .cell{
    display: grid;
    border-style: solid;
    border-color: black;
}

#board .cell:hover{
    cursor: pointer;
}
